In [ ]:
import pandas as pd

# Importamos el dataset de los datos de los pokemon

In [ ]:
url = "https://raw.githubusercontent.com/KeepCoding-BC-Glovo-Mujeres-en-tech/python-big-data/main/dataset_final.csv?token=GHSAT0AAAAAABYSOUDCZVUZP7FKIJ46KZIQY3UXXXQ"
df = pd.read_csv(url, index_col = 0)
#df = pd.read_csv(url)


1. ¿Cuántos pokémon hay en el dataset?

In [ ]:
print(f"Hay {df.shape[0]} pokémon en el dataset")

Hay 800 pokémon en el dataset

2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)

In [ ]:
poison = df[df["Type 1"] == "Poison"].shape[0]
print(f"Hay {poison} pokémon de tipo Poison (Type 1) en el dataset")

Hay 28 pokémon de tipo Poison (Type 1) en el dataset

3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)

In [ ]:
tipos = len(list(df["Type 1"].unique()))
print(f"Hay {tipos} tipos diferentes de pokémon (Type 1) en el dataset")

Hay 18 tipos diferentes de pokémon (Type 1) en el dataset

2. ¿Cuántos pokémon hay de cada tipo? (Type 1)

In [ ]:
# Dataframe con todos los grupos de pokémon que hay
pd.DataFrame(df.groupby("Type 1").size()).transpose()

Type 1,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,69,31,32,44,17,27,52,4,32,70,32,24,98,28,57,44,27,112

2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)

In [ ]:
df.groupby("Type 1").size().sort_values(ascending = False)

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
dtype: int64

In [ ]:
print("El pokémon Water es el más común con 112 apariciones")

El pokémon Water es el más común con 112 apariciones

3. ¿Cuál es el pokémon más rápido?

In [ ]:
df[df.Speed == df.Speed.max()]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True

In [ ]:
df[df.Speed == df.Speed.max()]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,String Name
#,,,,,,,,,,,,,
386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True,DeoxysSpeed Forme

In [ ]:
print("El pokémon más rápido es: DeoxysSpeed Forme con una velocidad de 180")

El pokémon más rápido es: DeoxysSpeed Forme con una velocidad de 180

4. ¿Cuántos pokemon tiene una defensa superior a 100?

In [ ]:
defen = df[df["Defense"] > 100].shape[0]
print(f"Hay {defen} pokémons con una defensa superior a 100")

Hay 123 pokémons con una defensa superior a 100

5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?

In [ ]:
defvel = df[(df["Defense"] > 100) & (df["Speed"] > 100)].shape[0]
print(f"Hay {defvel} pokémons con una defensa superior a 100 y una velocidad superior a 100")

Hay 9 pokémons con una defensa superior a 100 y una velocidad superior a 100

6. Ordena el dataset por el tipo 1 y por el tipo 2

In [ ]:
df.sort_values(by = ["Type 1", "Type 2"])

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,String Name
#,,,,,,,,,,,,,
595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False,Joltik
596,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,False,Galvantula
214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False,Heracross
214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False,HeracrossMega Heracross
636,Larvesta,Bug,Fire,360,55,85,55,50,55,60,5,False,Larvesta
...,...,...,...,...,...,...,...,...,...,...,...,...,...
594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False,Alomomola
656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False,Froakie
657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False,Frogadier
692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False,Clauncher
693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False,Clawitzer

7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo

In [ ]:
dfwafir = df[(df["Type 1"] == "Water") | (df["Type 1"] == "Fire")]

In [ ]:
dfwafir.head(3)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,String Name
#,,,,,,,,,,,,,
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Charmander
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,Charmeleon
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,Charizard

8. Crea un nuevo dataset con los pokemon Legendary

In [ ]:
legend = df[df["Legendary"]]

In [ ]:
legend.head(3)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,String Name
#,,,,,,,,,,,,,
144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True,Articuno
145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True,Zapdos
146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True,Moltres

9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary

In [ ]:
legend.describe()

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000
mean,637.384615,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615,3.769231
std,60.937389,21.722164,30.348037,28.255131,31.104608,28.827004,22.952323,1.455262
min,580.000000,50.000000,50.000000,20.000000,50.000000,20.000000,50.000000,1.000000
25%,580.000000,80.000000,100.000000,90.000000,100.000000,90.000000,90.000000,3.000000
50%,600.000000,91.000000,110.000000,100.000000,120.000000,100.000000,100.000000,4.000000
75%,680.000000,105.000000,131.000000,115.000000,150.000000,120.000000,110.000000,5.000000
max,780.000000,150.000000,190.000000,200.000000,194.000000,200.000000,180.000000,6.000000

In [ ]:
df[df["Legendary"] == False].describe()

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000
mean,417.213605,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782,3.284354
std,106.760417,24.808849,30.490153,30.408194,29.091705,25.669310,27.843038,1.673471
min,180.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.000000
25%,324.000000,50.000000,54.500000,50.000000,45.000000,50.000000,45.000000,2.000000
50%,425.000000,65.000000,72.000000,66.000000,65.000000,65.000000,64.000000,3.000000
75%,498.000000,79.500000,95.000000,85.000000,85.000000,85.000000,85.000000,5.000000
max,700.000000,255.000000,185.000000,230.000000,175.000000,230.000000,160.000000,6.000000

10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

In [ ]:
legstat = pd.DataFrame(legend.describe())

In [ ]:
legstat.index.to_list()

['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max']

In [ ]:
legmean = legstat.drop(index = ['count', 'std', 'min', '25%', '50%', '75%', 'max'])

In [ ]:
nolegstat = pd.DataFrame(df[df["Legendary"] == False].describe())

In [ ]:
nolegmean = nolegstat.drop(index = ['count', 'std', 'min', '25%', '50%', '75%', 'max'])

In [ ]:
compmean = pd.concat([legmean.reset_index(), nolegmean.reset_index()])

In [ ]:
compmean["new_index"] = ["Legendary", "No Legendary"]
final = compmean.drop(columns = ["index", "Generation"]).set_index(["new_index"])
final.rename_axis(None)

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Legendary,637.384615,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615
No Legendary,417.213605,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782

11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que inndique si el pokemo tiene dos tipos o no

In [ ]:
import numpy as np

In [ ]:
dosdf = df.fillna(0)
df["Doble tipo"] = [True if x!= 0 else False for x in dosdf["Type 2"]]

In [ ]:
df

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Doble tipo
#,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,True
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,True
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,True
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,True
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,True

12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name

In [ ]:
df.columns

Index(['Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Doble tipo'],
      dtype='object')

In [ ]:
df[df["Doble tipo"]].drop(columns = ['Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Doble tipo']).sort_values(by = ["Type 1", "Type 2", "Name"])

                        Name Type 1    Type 2
#
596               Galvantula    Bug  Electric
595                   Joltik    Bug  Electric
214                Heracross    Bug  Fighting
214  HeracrossMega Heracross    Bug  Fighting
636                 Larvesta    Bug      Fire
..                       ...    ...       ...
565               Carracosta  Water      Rock
222                  Corsola  Water      Rock
369                Relicanth  Water      Rock
564                 Tirtouga  Water      Rock
395                 Empoleon  Water     Steel

[414 rows x 3 columns]

13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.

In [ ]:
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

In [ ]:
compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']

### A. Una función que calcule el precio total de la compra

In [ ]:
def total_precio(articulos,compra):
  precio = 0
  for index in compra:
    precio += articulos[index]
  return precio

In [ ]:
total_precio(articulos, compra)

155

### B. Una función que calcule el precio total de la compra con un descuento del 10%

In [ ]:
def total_precio10(articulos,compra):
  precio = 0
  for index in compra:
    precio += articulos[index]
  return precio*0.9

In [ ]:
total_precio10(articulos,compra)

139.5

### C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€

In [ ]:
def total_preciocon10(articulos,compra):
  precio = 0
  for index in compra:
    precio += articulos[index]
  if precio > 100:
    precio*=0.9
  return precio

In [ ]:
total_preciocon10(articulos, compra)

139.5



### D. Una función que calcule el precio total aplicando el IVA (21%)

In [ ]:
def total_precioIVA(articulos,compra):
  precio = 0
  for index in compra:
    precio += articulos[index]
  precio *= 1.21
  return round(precio,2)

In [ ]:
total_precioIVA(articulos,compra)

187.55

### E.lista los artículos cuyo precio es superior a 20€

In [ ]:
type(articulos.keys())

dict_keys

In [ ]:
def art_superior20(articulos):
  sup20 = []
  for key, value in articulos.items():
    if value > 20:
      sup20.append(key)
  return sup20

In [ ]:
art_superior20(articulos)

['Pantalón', 'Zapatos', 'Gafas', 'Reloj', 'Corbata']

14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca e nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.

In [ ]:
alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]

In [ ]:
len(alumnos)

14

In [16]:
def notas_lista(curso, alumnos):
  total = []
  for i in range(len(alumnos)):
    if alumnos[i][2] == curso:
      nombre = (alumnos[i][0]+ " "+alumnos[i][1])
      promedio = (sum(alumnos[i][3])/len(alumnos[i][3]))
      total.append((nombre,promedio))
  return total

In [18]:
notas_lista("2", alumnos)

[('Ana García', 7.0),
 ('María Martínez', 7.0),
 ('Lucía Hernández', 7.0),
 ('Sara Díaz', 7.0),
 ('Miguel Fernández', 7.0),
 ('Sandra Ruiz', 7.0),
 ('María Gómez', 7.0)]